@{
    ViewData["Title"] = "Task Submitted";
}
<h2>Task submission for @Model.Task Received. Thank you!</h2>

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Click Here to return to the home page</a>