@{
    ViewData["Title"] = "Delete Task Submission";


    @model ToDoTasks.Models.ToDoResponse
}

    <h2>Confirm the deletion</h2>
    <h3> Are you sure you want to delete @Model.Task from this database?</h3>

    <form method="post" asp-action="Delete">
        <button type="submit">Delete</button>
        <a asp-controller="Home" asp-action="ToDoList" class="btn btn-primary">Cancel</a>

        <input type="hidden" asp-for="TaskID" />
    </form>
